.footer-wraper {
    background-color:
        #f4eddf;
    display: flex;
    align-items: space-between;
}

.footer img {
    margin: 55px;
    padding: 8px;
    border-radius: 5px;
    background: #9cc8b9;
    width: 150px;
    margin-right: 250px;
}

.footer-details {
    margin: 20px;
    align-items: center;
    margin-left: 80px;
}

.footer-social-icon {

    display: flex;
    margin: 55px;
    font-weight: bold;
    margin-right: 100px;
    justify-content: center;
    align-items: center;
}

.icon {
    color: black;
    margin-left: 10px;
    background-color: #9cc8b9;
    padding: 8px;
    border-radius: 15px;
}

/* .icon:hover {
    background-color: black;
    color: white;
} */